.wpd-accordion {
  width: 100%;
  margin: 20px 0;
}


.wpd-accordion h1,
.wpd-accordion h2,
.wpd-accordion h3,
.wpd-accordion h4,
.wpd-accordion h5,
.wpd-accordion h6,
.wca-accordian h1,
.wca-accordian h2,
.wca-accordian h3,
.wca-accordian h4,
.wca-accordian h5,
.wca-accordian h6 {
	margin: 0;
	padding: 0;
}

.wca-accordian p,
.wpd-accordion p,
.wca-accordian p a,
.wpd-accordion p a {
	text-decoration: none !important;
	padding: 0 !important;
}

.wca_accordian_item,
.wca_accordian_item .et_pb_module_inner {
	position: absolute !important;
	display: contents;
}

.wpd_accordian_contents {
	width: 50%;
	border-bottom: 1px solid #ddd;
	padding: 20px 0;
	cursor: pointer;
}

.wca_accordian_item:last-child .wpd_accordian_contents,
.wpd_accordian_contents:last-child {
	border-bottom: none;
}

.wpd-accordion-title {
  font-size: 20px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 20px;
}

.wpd-accordion-title span {
	overflow: hidden;
}

.wpd-accordion-description {
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.4s ease;
  color: #444;
  cursor: auto;
}

.wpd-small-text {
	display: block;
}

.wpd-accordion-img {
  overflow: hidden;
  position: absolute;
  top: 0;
  right: 0;
  width: 45%;
  height: 100%;
}

.wpd-accordion-img img {
	border-radius: 8px;
  object-fit: cover;
  object-position: center;
}

.wpd-accordion-item .wpd-accordion-img {
	opacity: 0;
	transition: all ease-in-out 1s;
}

.wca_accordian_item.active .wpd-accordion-img,
.wpd-accordion-item.active .wpd-accordion-img {
  animation: fadeIn 1.5s ease-in-out;
	opacity: 1;
	transition: all ease-in-out 1s;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@media (max-width: 768px) {
  .wpd-accordion-img {
    position: static;
    width: 100%;
    /* height: auto; */
    margin-top: 20px;
  }
  .wpd_accordian_contents {
    width: 100%;
  }
}

.wpd-accordion-button {
  text-decoration: none;
  display: inline-flex;
  border: none;
  gap: 10px;
  cursor: pointer;
  align-items: center;
  font-size: 15px;
  color: #000;
  padding: 5px 0px;
  overflow: hidden;
  position: relative;
  transition: all 0.3s ease-in-out;
	font-weight: 600;
}